body {
    height: 700px;
    position: relative;
    margin: 0;
}

.container{
    background-image: url(../Image/Desert.jpg);
    height: 500px;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: rgb(68, 40, 40);
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
}

.navbar p {
    position: relative;
    left: 30px;
    padding: 10px 15px;
}

.navbar p a {
    color: white;
    text-decoration: none;
}

.navbar p a:hover {
    color:  rgb(165, 119, 119);
    text-decoration: none;
}

.container-2 {
    background-color: rgb(160, 101, 101);
    height: 200px;  
}

.container-2 p {
    margin-top: 0px;
    padding: 55px;
}