.navbar {
    align-content: center;
    color: cornsilk;
    height: 100px;
    background-color: black;
}
.navbar h2 {
    margin: auto;
}
.container-fluid {
    background-color: rgb(58, 54, 54);
}
img {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}
img:hover {
    transition: 800ms;
    padding: 5px;
}
.footer {
    height: 300px;
    background-color: black;
}