.container {
    width: 100%;
    background-color: aqua;
}
.comp-div h2 {
    text-align: center;
    padding: 25px;
}
.form-div {
    text-align: center;
    margin: 20px;
}

.card-div {
    display: flex;
    padding: 10px;
    margin: 10px;
}

h3 span {
    font-size: 20px;
}

.btn-div {
    /* left: 20px; */
    margin-left: auto;
    /* left: 500px; */
}
.btn {
    margin: 10px;
}