.card-body {
    margin: 5px;
    background-color: #212529;
    color: white;
    text-align: center;
}
.container {
    width: 100%;
    text-align: center;
}
.heading {
    color: white;
    margin: 30px;
}

body {
    /* getting  applied to all the project */
    /* background-color: #4e4e58; */
}
.btn {
    width: 100px;
    background-color: aliceblue;
    color: black;
    display: block;
    margin: auto;
}